{% set page_title = 'Склад-магазин ДЁшина - шины для вашего авто' %}

<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
   <meta charset="UTF-8">
   <title>{{ page_title|raw }}</title>
   <link rel="stylesheet" href="{{ asset('img/deshina.ru.min.css') }}">
   {#<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('css/deshina.ru-ie.css') }}"><![endif]-->#}

   {# Always force latest IE rendering engine (even in intranet) & Chrome Frame #}
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

   <meta name="title" content="{{ page_title }}">
   <meta name="description" content="{% block meta_description '' %}">
   <meta name="keywords" content="{% block meta_keywords '' %}">
   {#<meta name="author" lang="{{ app.request.locale }}" content="{% block meta_author current_partner.globalItem('author') %}">#}

   {# Google will often use this as its description of your page/site. Make it good. #}
   <meta name="Copyright" lang="{{ app.request.locale }}" content={{ page_title }}>

   <link rel="shortcut icon" href="{{ absolute_url(asset('favicon.ico')) }}">
   <link rel="apple-touch-icon" href="{{ absolute_url(asset('favicon.ico')) }}">
   <link rel="stylesheet" href="{{ asset('js/carousel.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ asset('js/jqlb/css/jquery.lightbox-0.5.css') }}" media="screen" />
   <script src="{{ asset('js/jquery-1.8.3.js') }}"></script>
   <script src="{{ asset('js/carousel.js') }}"></script>

   <!-- lightbox_jq.tpl begin form -->
   <script type="text/javascript" src="{{ asset('js/jqlb/js/jquery.lightbox-0.5.js') }}"></script>
   <script type="text/javascript">
      $(function() {
         $('#gallery a, .good_b a').lightBox();
      });
   </script>
   <!-- lightbox_jq.tpl end form -->


   <script>
      var siteRoot = 'http://de-shina.ru/';
   </script>
</head>
<body>

{% block js_in_body '' %}

<div class="body">
   <div class="wid1k">
      {% include 'DeshinaBundle:Default/_common:header.html.twig' %}

      <div id="content">
         <div class='main_content'>
            <div id=breadcrumbs {% block breadcrumbs_style %}{% endblock %}>
               {% block breadcrumbs %}
                  <a href="{{ path('deshina.mainpage') }}">Главная</a>
               {% endblock %}
            </div>
            {% block content %}{% endblock %}
         </div>
         <div class="right_col" style="padding-top: 10px;">
            {% block rightColumn %}
               <a href="http://de-shina.ru/click.php?id=9&id_banner_place=1&url=http://de-shina.ru/garantia/" rel=nofollow  alt="" title=""><img src="http://de-shina.ru/attach/3017.png" style='border: 1px solid #DD2B1C;'></a>
               <a href="http://de-shina.ru/click.php?id=8&id_banner_place=1&url=http://de-shina.ru/discount_card/" rel=nofollow  alt="" title=""><img src="http://de-shina.ru/attach/3119.png" style='border: 1px solid #DD2B1C;'></a>
            {% endblock %}
         </div>
      </div>
      <div class="clr"></div>

      {% include '@Deshina/Default/_common/footer.html.twig' %}
   </div>
</div>

{% block after_content %}{% endblock %}

{% block js_footer %}

{% endblock %}
</body>
</html>
